*{
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
.app-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-label{
  display: block;
}
.image{
  width: 10rem;
  height: 10rem;
}